<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{headline}}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <style>
            .images div{
                background-size: cover;
                height: 400px;
                margin-bottom:20px;
            }
            h1 img {
                width: 1em;
                height:1em;
                margin-top: -10px;
            }
            h2 {
                font-size: 50px;
            }

            @media only screen 
            and (max-width : 600px) {
              .images div{
                height: 100px;
              }
            }
        </style>
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1><a href="/"><img alt="Click Here!" src="https://pbs.twimg.com/profile_images/519964595436265472/MQpbjjMQ_400x400.png"> Clickbait</a></h1>
            </div>
        </div>

        <div class="container">
            <div class="row images">
                <div class="col-xs-4 text-hide" style="background-image: url({{{star.image.unescapedUrl}}})"> {{star.val}} </div>
                <div class="col-xs-4 text-hide" style="background-image: url({{{verb.image.unescapedUrl}}})"> {{verb.val}} </div>
                <div class="col-xs-4 text-hide" style="background-image: url({{{noun.image.unescapedUrl}}})"> {{noun.val}} </div>
            </div>
            
            <h2>{{headline}}</h2>
            
            {{{star.text}}}
            {{{noun.text}}}
            {{{verb.text}}}
        </div>
        
        <div class="footer">
            <div class="container"><a href="{{{permalink}}}">permalink</a></div>
        </div>
    </body>
</html>